@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans';
    color: hsl(219, 9%, 45%);
    padding: 10px;
    
}
p{
    font-size: 16px;
}
 h1,h2{
    color: black;
 }
h5{
    color: hsl(26, 100%, 55%) ;
    letter-spacing: 2px;
}

h1{
    line-height: 2.5rem;
    padding: 15px 0 1px 0;
}

ul{
    list-style: none;
}
#cartValue{
    display: none;
    color: white;
    background-color:hsl(26, 100%, 55%) ;
    position: relative;
    top: -20px;
    right: 10px;
    padding: 0 10px;
    border-radius: 10px;
    
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid hsl(223, 64%, 98%);
    padding: 0 20px;

}
img{
    width: 100%;
    height: auto;
}

.menu{
    width: 16px;
    height: 15px;
}

.navlinks img{
    display: none;
}


.left-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.right-menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.right-menu div > img{
    width: 25px;
    height: 25px;
}

.show-cart{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20vw;
    height: auto;
    min-height: 100px;
    top: 130%;
    right: 15%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 1px hsl(0, 1%, 66%) ;
}

.toggle{
    display: none!important;
}
.show-cart h4{
    margin: 10px 0;
}
.show-cart button{
    width: 100%;
    box-shadow: none;
}
.cartItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.cartItems p{
    font-size: small;
}

.cartItems div div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cartItems img:last-child{
    width: 15px;
    height: 15px;

}

.hello{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

}

.slide{
    width: 100%;
    display:flex;
    justify-content: space-between;
    position:absolute;
    z-index: 100;
    top:40%;
}
.slide img{
    width: 20px;
    height: auto;
}
.slide img:hover{
    cursor: pointer;
}

.right{
    padding: 20px;
}

.right p{
    padding: 30px 0px;
}
.garally{
    display: none;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 0;
}

.price h1{
    padding: 0%;
}

.price h1::after{
    content: '50%';
    font-size: 16px;
    font-weight: 700;
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%) ;
    padding: 5px;
    margin: 25px;
    border-radius: 10px;
}
.price p{
    font-weight: 700;
    text-decoration: line-through;
}

.pointer, button{
    width: 100%;
    
}
 .pointer{
    display: flex;
    justify-content: space-between;
    background-color: hsl(223, 64%, 98%);
    padding: 25px 25px 25px 25px;
    margin-bottom: 10px;
    border-radius: 15px;
 }

  .pointer img{
    color: hsl(26, 100%, 55%);;
    width: 100%;
  }
 .quantity{
    color: black;
    font-weight: 700;
 }
button{
    background-color: hsl(26, 100%, 55%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 10px 15px 10px;
    border-radius: 15px;
    border: none;
}

button img{
    color: white;
    width: 5%;
}

button span{
    font-weight: 700;
}

@media screen and (min-width: 840px){
    header{
        padding: 0% 15%;
    }
    .menu{
        display: none;
    }
    .navlinks{
        display: flex!important;
    }
    .navlinks ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        list-style: none;
        margin-left: 30px;

    }
    .navlinks ul li{
        padding: 30px 0px;
        height: 90px;
        cursor: pointer;
        border-bottom: 2px solid white;

    }

    .navlinks ul li:hover{
        border-bottom: 2px solid hsl(26, 100%, 55%);

    }

    main{
        display: flex;
        padding: 0%;
    }

    .left{
        padding: 3% 5% 0% 15%;;
    }

    .left img{
        border-radius: 10px;

    }

.right{
    padding: 5% 15% 0% 5%;
}

.garally{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.garally img{
    width: 20%;
}

.garally img:hover{
    border: 2px solid hsl(26, 100%, 55%) ;
    cursor: pointer;
    filter: opacity(50%)
}
.value{
    display: flex;
    gap: 10px;
}
.pointer{
    width: 40%;
}
button{
    width: 60%;
    box-shadow: 0px 30px 10px -12px hsl(25, 100%, 94%) ;
}
}

@media screen and (max-width: 840px) {
    .navlinks{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 60vw;
        height: 100vh;
        top: 0;
        left:0px;
        background-color: white;
        z-index: 101;
        box-shadow: 1px 5px 5px 1px rgb(210, 209, 209);
        padding: 40px;
        gap: 60px;
    }
    .navlinks img{
        display: block;
        width: 20px;
    }
    
    .navlinks ul{
        display: flex;
        height: 90%;
        flex-direction: column;
        gap: 30px;
    }

    .navlinks ul li{
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
    .toggleMenu{
        display: none!important;
    }
}